.form-input{
    display: flex;
    justify-content: flex-end;
    align-items: center;

    gap: 10px;

    width: auto;

    margin: 0;
    padding: 1%;
}

.form-input label{
    color: wheat;
}

.form-input input{
    width: 60%;
}
